__pycache__
.env
secrets.json
.vscode/launch.json
assist.log

*.pyc
venv/
package-lock.json
.DS_Store
.vscode/
playwright/data_output/*.csv
playwright/failed_output/*.csv
cronjobs/logs/
*pip-audit-results.txt
*npm-audit-results.txt
*google.json

# .sh commands
scripts/run-local.sh
scripts/run-local-again.sh
scripts/run-prod.sh

settings.yaml
.ipynb_checkpoints
.venv_trans
.venv_translate
.soros_checkpoint

*.csv
.ipynb_checkpoints/